* {
	margin: 0;
	padding: 0;
}
.progress-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;
}

.progress {
	position: relative; /* with scale */
	height: 20px;
	width: 500px;
	background-color: rgb(233, 236, 239);
	border: 1px solid #c5c5c5;
	border-radius: 15px;
	overflow: hidden;
}

.progress div {
	background-color: #00c251;
	color: #fff;
	height: 100%;
	text-align: center;
}

.progress span {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}

.grid-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
}

.grid-area {
	display: grid;
	max-width: 300px;
	width: 100%;
	padding: 20px;
	gap: 20px;
	border: 1px solid #000;
}

.grid-cell {
	background-color: transparent;
	border: 1px solid #000;
	height: 0;
	padding-bottom: 100%;
}
.grid-cell-activated {
	background-color: green;
}
